<div class="page rte">


  <div class=" contact-content">
  <div class="content">{{ page.content }}</div>

  {% form 'contact' %}

    <div class="contact-heading">{{ section.settings.heading }}</div>
    <div class="contact-message">{{ section.settings.message }}</div>
    {% if form.posted_successfully? %}
      <p class="quote">Thanks for contacting us! We'll get back to you as soon as possible.</p>
    {% endif %}

    {% if form.errors %}
      <p class="quote">Not all the fields have been filled in correctly. Please try again.</p>
    {% endif %}

    <div class="contact-form-fields">
      <label for="contact_form_name">Name</label>
      <input type="text" id="contact_form_name" name="contact[name]" required value="{{ contact.fields.name }}" />
      <label for="contact_form_email">Email</label>
      <input type="text" id="contact_form_email" name="contact[email]" required pattern="[^ @]*@[^ @]*" value="{{ contact.fields.email }}"/>

      <label for="contact_form_reason">Reason for Contact</label>
      {% for block in section.blocks %}
        <div>
          <input type="radio" id="radio-{{ block.settings.title | handle }}" required name="contact[reason for contact]" value="{{ block.settings.title }}"> <label for="radio-{{ block.settings.title | handle }}" class="radiobutton">{{ block.settings.title }}</label>
      </div>
      {% endfor %}

    <label for="contact_message">Message</label>
    <textarea id="contact_message" name="contact[body]" required rows="5">{{ contact.fields.body }}</textarea>

      <input type='submit' class="submit action_button add_to_cart" value="Send" />
    </div>

  {% endform %}
  </div>

</div>

<style>
.contact-content{
  display: flex; 
  align-items: center; 
}
.content h6{
  font-size: 1.2rem;
  font-weight:Bold; 
  margin-bottom: 20px;
}
.content p{
      margin-bottom: 20px;
  }
.content{
  display:block;
  width: 50%;
  padding: 50px; 
}
.contact-form-fields {
  width: 750px;
  padding: 50px;
}

.radiobutton {
  font-size: 1rem;
  text-transform: capitalize;
}
.radiobutton{
  display: inline;
}
  @media only screen and (max-width: 767px){
    .contact-content{
  display: block; 
  align-items: center; 
}
    .content{
      width:100%;
      padding: 20px;

    }
    .contact-form-fields{
      width: 100%;
    }
  }


</style>

{% schema %}
  {
    "name": "Contact Page",
    "class": "contact-page",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Contact form heading"
      },
      {
        "type": "textarea",
        "id": "message",
        "label": "Contact form message"
      }
    ],
    "blocks": [
      {
        "name": "Radio Button Option",
        "type": "radio",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Option Title"
          }
        ]
      }
    ]
  }
{% endschema %}