{%- liquid
  if product.metafields.inventory.ShappifyHidden == 'true'
   break
   endif
  assign breadcrumbs_enabled = section.settings.breadcrumbs-enabled
  assign column_spacing = section.settings.column-spacing
  assign container_width = section.settings.container-width
  assign current_variant = product.selected_or_first_available_variant
  assign heading_sizes_enabled = section.settings.heading-sizes-enabled
  assign heading_size = section.settings.heading-size
  assign media_gap = section.settings.media-gap
  assign media_layout = section.settings.media-layout
  assign mobile_media_layout = section.settings.mobile-media-layout
  assign product_id = product.id | append: '-' | append: section.id
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign text_alignment = section.settings.text-alignment
  assign text_column_width = section.settings.text-column-width
  assign thumbnail_width = section.settings.thumbnail-width
  assign variant_scroll_enabled = section.settings.variant-scroll-enabled
  assign video_looping_enabled = section.settings.loop-enabled
  assign zoom_enabled = section.settings.image-zoom-enabled

  assign heading_enabled = section.settings.heading-enabled
  if media_layout == 'thumbnails'
    assign heading_enabled = false
  endif

  assign onboarding = true
  assign modal_enabled = false
  if product.media.size > 0
    assign onboarding = false
    assign modal_enabled = section.settings.modal-enabled
  endif

  capture css_vars
    echo '--text-column-width:' | append: text_column_width | append: '%;'
    echo '--media-gap:' | append: media_gap | append: 'px;'
    echo '--thumbnail-width:' | append: thumbnail_width | append: 'px;'
  endcapture

  render 'section-assets', name: 'product-page', type: 'style'
-%}

<div
  class="product-page--root"
  data-product-id="{{ product_id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product_page"
  data-container-width="{{ container_width }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  data-text-alignment="{{ text_alignment }}"
  style="{{ css_vars }}"
>
  <div class="product-page--wrapper">
    {%- if heading_enabled -%}
      <div class="product-page--header" data-mq="medium-large">
        <h1
          class="product-page--title"
          data-item="featured-heading"
          {%- if heading_sizes_enabled -%}
            style="font-size:{{ heading_size | plus: 24 }}px;"
          {%- endif -%}
        >
          {{- product.title -}}
        </h1>
      </div>
    {%- endif -%}

    <div class="product-page--desktop-container" data-mq="medium-large">
      {%-
        render 'product-media--variants',
        product: product,
        product_id: product_id,
        layout: media_layout,
        media_gap: media_gap,
        modal_enabled: modal_enabled,
        column_spacing: column_spacing,
        thumbs_enabled: true,
        variant_scroll_enabled: variant_scroll_enabled,
        video_looping_enabled: video_looping_enabled,
        zoom_enabled: zoom_enabled
      -%}
    </div>

    <div class="product-page--mobile-container" data-mq="small">
      {%- if mobile_media_layout == 'thumbnails' -%}
        {%-
          render 'product-media--variants',
          product: product,
          product_id: product_id,
          layout: 'thumbnails',
          thumbs_enabled: true,
          video_looping_enabled: video_looping_enabled
        -%}

      {%- elsif mobile_media_layout == 'slideshow' -%}
        {%- render 'section-assets', name: 'product-media--carousel', type: 'script' -%}

        <product-media-carousel
          class="product-page--carousel"
          data-id="{{ product_id }}"
          data-mq="small"
        >
          {%
            render 'carousel',
            view: "product-page",
            section_id: section.id,
            onboarding: onboarding,
            product: product,
            video_looping_enabled: video_looping_enabled,
            blocks: product.media,
            dot_nav_enabled: true,
            media_size: "mobile",
            blocks_per_slide: 1,
            blocks_per_slide_mobile: 1,
            total_blocks: product.media.size,
            total_slides: product.media.size,
            spacing_around_blocks: true,
            transition_type: "slide"
          -%}
        </product-media-carousel>
      {%- endif -%}
    </div>

    <div class="product-page--info">
      {%- if breadcrumbs_enabled -%}
        <div class="product-page--breadcrumbs" data-mq="medium-large">
          {%- render 'breadcrumbs' -%}
        </div>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- liquid
          assign fit_together = false
          if block.type == 'collapsible-row'
            assign fit_together = true
          elsif block.type == 'complementary-products' and block.settings.collapsible-row-enabled
            assign fit_together = true
          endif
        -%}

        <div
          class="product-page--block"
          data-product-block
          data-block-type="{{ block.type }}"
          data-fit-together="{{ fit_together }}"
          {{ block.shopify_attributes }}
        >
          {%- case block.type -%}
            {%- when 'overline' -%}
              <div class="product-page--overline" data-item="overline">
                {{- block.settings.text -}}
              </div>

            {%- when 'heading' -%}
              {%- if heading_enabled -%}
                <h2 class="product-page--heading" data-item="section-heading">
                  {{- product.title -}}
                </h2>
              {%- else -%}
                <h1 class="product-page--heading" data-item="section-heading">
                  {{- product.title -}}
                </h1>
              {%- endif -%}

            {%- when 'vendor' -%}
              <div class="product-page--vendor" data-item="light-accent-text">
                <a href="{{ product.vendor | url_for_vendor }}">
                  {{- product.vendor -}}
                </a>
              </div>

            {%- when 'price' -%}
              {%- render 'product-price', product: product, id: product_id -%}

            {%- when 'low-stock' -%}
              {%-
                render 'product-low-stock',
                id: product_id,
                current_variant: current_variant,
                threshold: block.settings.threshold
              -%}

            {%- when 'options' -%}
              {%-
                render "product-options",
                id: product_id,
                product: product,
                block_settings: block.settings
              -%}

            {%- when 'quantity-input' -%}
              {%- render 'product-quantity', id: product_id -%}

            {%- when 'buy-buttons' -%}
              {%-
                render 'product-buy-buttons',
                id: product_id,
                product: product,
                smart_payment_enabled: block.settings.smart-payment-enabled
              -%}

            {%- when 'unavailable-form' -%}
              {%- render 'product-unavailable-form', product: product, id: product_id -%}

            {%- when 'pickup' -%}
              {%- render 'product-pickup', product: product, id: product_id -%}

            {%- when 'social-sharing' -%}
              {%-
                render 'social-icons',
                align: 'left',
                mobile_align: 'left',
                type: 'share',
                social_settings: block.settings
              -%}

            {%- when 'sku' -%}
              {%- render 'product-sku', product: product, id: product_id -%}

            {%- when 'collapsible-row' -%}
              {%- assign unique_id = section.id | append: '--collapsible-row--' | append: forloop.index -%}
              {%-
                render 'collapsible-row',
                description: block.settings.description,
                heading: block.settings.heading,
                default_open: block.settings.default-open,
                page_content: block.settings.page-content,
                unique_id: unique_id
              -%}

            {%- when 'description' -%}
              {%- unless product.description == blank -%}
                <div class="product-page--description" data-item="rte-content">
                  {{- product.description -}}
                </div>
              {%- endunless -%}

            {%- when 'rating' -%}
              {%- render 'product-rating' -%}

            {%- when 'complementary-products' -%}
              {%-
                render 'complementary-products',
                heading: block.settings.title,
                max_products: block.settings.max-products,
                collapsible_row: block.settings.collapsible-row-enabled,
                product_id: product.id
              -%}

            {%- when 'liquid' -%}
              {{- block.settings.custom-liquid -}}

            {%- when '@app' -%}
              {%- render block -%}

          {%- endcase -%}
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product pages",
  "class": "section--product-page",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "container-width",
      "label": "Maximum width of container",
      "type": "range",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "radio",
      "id": "media-layout",
      "label": "Media layout",
      "options": [
        { "label": "Thumbnails", "value": "thumbnails" },
        { "label": "One column", "value": "one" },
        { "label": "Two columns", "value": "two" },
        { "label": "Mixed", "value": "mixed" }
      ],
      "default": "thumbnails"
    },
    {
      "type": "range",
      "id": "text-column-width",
      "label": "Text column width",
      "min": 20,
      "max": 50,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "media-gap",
      "label": "Gap between media",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 8
    },
    {
      "type": "select",
      "id": "column-spacing",
      "label": "Media spacing",
      "options": [
        { "label": "Spaced evenly", "value": "evenly" },
        { "label": "Close together", "value": "close" }
      ],
      "default": "close",
      "info": "Applies to the two column and mixed layouts only and will only be obvious when product media has different aspect ratios"
    },
    {
      "type": "select",
      "id": "text-alignment",
      "label": "Text alignment",
      "options": [
        { "label": "Left", "value": "left" },
        { "label": "Center", "value": "center" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "thumbnail-width",
      "label": "Thumbnail width",
      "min": 40,
      "max": 140,
      "step": 1,
      "default": 80,
      "info": "Only applies to the thumbnails layout"
    },
    {
      "type": "checkbox",
      "id": "heading-enabled",
      "label": "Enable title overlay",
      "default": true,
      "info": "Not applicable to the thumbnails layout"
    },
    {
      "type": "checkbox",
      "id": "heading-sizes-enabled",
      "label": "Enable custom heading sizes",
      "default": true
    },
    {
      "type": "range",
      "id": "heading-size",
      "label": "Heading size",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 40
    },
    {
      "type": "header",
      "content": "Features"
    },
    {
      "type": "checkbox",
      "id": "breadcrumbs-enabled",
      "label": "Enable breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "modal-enabled",
      "label": "Enable modal popup",
      "default": true,
      "info": "Triggers when you click the selected media"
    },
    {
      "type": "checkbox",
      "id": "variant-scroll-enabled",
      "label": "Enable scroll to variant media",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "image-zoom-enabled",
      "label": "Enable image zoom",
      "default": true,
      "info": "Triggers when you roll your mouse over an image"
    },
    {
      "type": "checkbox",
      "id": "loop-enabled",
      "label": "Enable video looping",
      "default": false
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)."
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "radio",
      "id": "mobile-media-layout",
      "label": "Media layout",
      "options": [
        { "label": "Slideshow", "value": "slideshow" },
        { "label": "Thumbnails", "value": "thumbnails" }
      ],
      "default": "slideshow"
    }
  ],
  "blocks": [
    {
      "type": "overline",
      "name": "Overline text",
      "limit": 1,
      "settings": [
        {
          "label": "Overline text",
          "id": "text",
          "type": "text",
          "default": "Overline text"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Title",
      "limit": 1,
      "settings": []
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1,
      "settings": []
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": []
    },
    {
      "type": "quantity-input",
      "name": "Quantity input",
      "limit": 1,
      "settings": []
    },
    {
      "type": "low-stock",
      "name": "Low stock notice",
      "limit": 1,
      "settings": [
        {
          "label": "Show low in stock notice when quantity is",
          "id": "threshold",
          "type": "range",
          "min": 0,
          "max": 10,
          "step": 1,
          "default": 5,
          "info": "Set to 0 to disable this feature. Updated for each variant."
        }
      ]
    },
    {
      "type": "options",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "variant-style",
          "label": "Product variant style",
          "options": [
            { "label": "Dropdowns", "value": "dropdowns" },
            { "label": "Buttons", "value": "buttons" }
          ],
          "default": "buttons"
        },
        {
          "type": "checkbox",
          "id": "swatches-enabled",
          "label": "Enable color swatches",
          "default": true,
          "info": "Automatically turn color options into swatches. [Learn more](https://support.troopthemes.com/guide/color-swatch-guide)"
        },
        {
          "type": "header",
          "content": "Size chart"
        },
        {
          "type": "checkbox",
          "id": "size-chart-enabled",
          "label": "Enable",
          "default": true
        },
        {
          "type": "text",
          "id": "size-chart-option",
          "label": "Link from option",
          "default": "size"
        },
        {
          "type": "page",
          "id": "size-chart-content",
          "label": "Page content"
        }
      ]
    },
    {
      "type": "buy-buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "smart-payment-enabled",
          "label": "Show dynamic checkout button",
          "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "default": true
        }
      ]
    },
    {
      "type": "unavailable-form",
      "name": "Unavailable form",
      "limit": 1,
      "settings": []
    },
    {
      "type": "pickup",
      "name": "Pickup availability",
      "limit": 1,
      "settings": []
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": []
    },
    {
      "type": "social-sharing",
      "name": "Social sharing",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "facebook-enabled",
          "label": "Enable Facebook sharing",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "twitter-enabled",
          "label": "Enable Twitter sharing",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "pinterest-enabled",
          "label": "Enable Pinterest sharing",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "email-enabled",
          "label": "Enable email sharing",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "url-enabled",
          "label": "Enable URL sharing",
          "default": true
        }
      ]
    },
    {
      "type": "sku",
      "name": "SKU",
      "limit": 1,
      "settings": []
    },
    {
      "type": "collapsible-row",
      "name": "Collapsible row",
      "settings": [
        {
          "id": "heading",
          "label": "Heading",
          "type": "text",
          "default": "Collapsible row"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Text",
          "default": "<p>Use rows to highlight unique features, <br/>sizing information, <br/>or other sales information.</p>",
          "info": "You can use product metafields to assign content to this row that is unique to an individual product. Learn more about [metafields](https://help.shopify.com/en/manual/metafields/displaying-metafields-on-your-online-store)."
        },
        {
          "type": "page",
          "id": "page-content",
          "label": "Tab content from page"
        },
        {
          "type": "checkbox",
          "id": "default-open",
          "label": "Open by default",
          "default": false
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1
    },
    {
      "type": "complementary-products",
      "name": "Complementary products",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Pairs well with"
        },
        {
          "id": "max-products",
          "label": "Maximum products to show",
          "type": "range",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 2,
          "info": "To select complementary products, add the Search & Discovery app. [Learn more](https://shopify.dev/themes/product-merchandising/recommendations)"
        },
        {
          "type": "checkbox",
          "id": "collapsible-row-enabled",
          "label": "Show as collapsible row",
          "default": false
        }
      ]
    },
    {
      "type": "liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom-liquid",
          "label": "Custom Liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}

<script>
  BOLD.common.eventEmitter.on('BOLD_OPTIONS_option_products_loaded', function(event){
  var optionsDiv = document.querySelector('.bold_options_loaded');
  if(optionsDiv.children.length != 0){
    var buyItNow = document.querySelectorAll('.shopify-payment-button');
    console.log(buyItNow);
    buyItNow.forEach(function(button){
      button.remove();
    })
  }
});
</script>